#loansMenu {
    /* display:none; */
    position: relative;
  
}
.block.active {
  display: block;
}
.block {
  display:none;
}
/* .welcome-page{
  display: block;
} */
/* .converter{
  display:none;
} */
/* .calulators{
  display:none;
}
 */
 .welcome{
       
       
        text-align: center;
        padding: 20px;
        top: 80px;
       
   
}  */
#rowDeposits {
/*      display:none; */
   position: relative;
  


}
#onlineApplicationInfo {
/*  display: none; */
  font-weight: bold;;
}



img {
  width: 1000px;
  margin-top: 0px;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left:auto;
  
}
 .ourCompanyText {
  /* display:none; */
  top: 80px;
 

   
}

.table-hover{
  width: 70%;
  margin: 0px auto auto 150px;
  position: absolute;
}
/* .converter-input {
  width: 30%;
  position: relative;;
  margin: 20px auto auto 700px;

} */
.navbar-brand-1 {
  margin: 0px auto auto 150px;
}


.currencyConverter {
  display: none;
  width: 50%;
  position: relative;;
  margin: 0px auto auto 600px;
  text-align: center;

}
#tableConverter{
  width: 40%;

}


.ourCompanyText h4 {
  padding: 20px;


}

.ourCompanyText p {
  padding: 10px;

}


#card1 {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 615px;
  bottom: 550px;
}
#card2 {
  position: absolute;
  top: 10px;
  left: 315px;
  right: 315px;
  bottom: 550px;
}
#card3 {
  position: absolute;
  top: 10px;
  left: 630px;
  right: 10px;
  bottom: 550px;
}

#card4 {
  position: absolute;
  top: 280px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

#card5 {
  position: absolute;
  top: 280px;
  left: 315px;
  right: 315px;
  bottom: 10px;
}

#card6 {
  position: absolute;
  top: 280px;
  left: 630px;
  right: 10px;
  bottom: 0px;
}
#onlineAplication {
  position: absolute;
  top: 10px;
  left: 870px;
  right: 10px;
  bottom: 0px;
  display: none;

}
#onlineApplicationButton{

    position: absolute;
    top: 10px;
    left: 900px;
    right: 10px;
    bottom: 0px;
  
  } 

#card7 {
  position: absolute;
  top: 10px;
  left: 250px;
  right: 650px;
  bottom: 550px;
  
}
#card8 {
  position: absolute;
  top: 10px;
  left: 630px;
  right: 50px;
  bottom: 550px;
}

#card9 {
  position: absolute;
  top: 300px;
  left: 250px;
  right: 10px;
  bottom: 10px;
}

#card10 {
  position: absolute;
  top: 300px;
  left: 630px;
  right: 50px;
  bottom: 0px;
}
  
/* #continueOnlineApp {
   display: none;
} */